[2017-10-24 18:13] ddevoykirito commented on #1462
What?

[2017-10-24 18:19] ddevoykirito opened #1465 "Just for your attention! Block launcher still wont work, and I have the logcats!"
![screenshot_2017-10-23-17-23-21](https://user-images.githubusercontent.com/33040828/31960598-e7c76310-b8bd-11e7-8763-77d909ad5324.png)
![screenshot_2017-10-23-17-23-29](https://user-images.githubusercontent.com/33040828/31960607-ee0e270e-b8bd-11e7-9ad4-af48a1793469.png)

[2017-11-19 02:47] DiamonPhoenix commented on #1462
Same issue

[2017-11-26 18:02] craftablescience opened #1466 "Moto G4 Play will see Minecraft white screen then crash"
My Moto G4 Play can run BlockLauncher with no mods or texture packs, but when a mod is applied it will only show "Minecraft" with a white background then crash.

[2017-11-27 04:10] zhuowei commented on #1466
which mod? Do you have a link to the mod?

[2017-11-27 11:49] blewis14 commented on #1466
Yes, it is the latest version of DesnoGuns

[2017-11-29 07:11] zhuowei commented on #1466
@blewis14 I can't reproduce it on my device (Huawei Nexus 6P). Can you take a bug report after the crash, upload it to Google Drive, and post the link here? https://www.youtube.com/watch?v=YxQ3NTloD2c

[2017-12-01 13:32] blewis14 commented on #1466
Sorry about the delay, I'll get around to it on the weekend.

[2017-12-02 19:26] blewis14 commented on #1466
Here you go:
[bugreport-2017-12-02-14-16-58.zip](https://drive.google.com/file/d/1Ec2fM8XOeAhV6wA34y_ecY8HNndBqrQu/view?usp=sharing)

[2017-12-06 20:59] QuibblingAsh42 commented on #688
Ok, I've got a legit copy of MCPE from the Play Store, and I'm still getting the error.  When I click the link to download the substrate, though, it tells me it's not found.  Where can I find it?

[2017-12-11 07:46] Creeperslyr1 opened #1467 "RCA Voyager 3 Tablet [Intel Atom Processor] (Android 6.0.1) - BlockLauncher app stops upon start HELP!?"
Mr. Zhuowei, please fix my problem. I'm not quite sure what my issue is, but i would like you to troubleshoot/ fix it. Here's my problem. When I open BlockLauncher Pro, the app closes and a message pops up that reads the following: "Unfortunately, BlockLauncher Pro has stopped". Please fix for me so I can play BlockLauncher Pro. Thanks! P.S. My email is mchb2003@gmail.com for a better contact succ

[2017-12-13 01:48] 0isback opened #1468 "setVel methods doesn't work"
'Entity.setVel' methods doesn't work in BlockLauncher lastest version. (1.17) - when we use it in modTick()

[2017-12-18 16:17] blewis14 commented on #1466
@zhuowei If you are not working on this issue I can close it

[2017-12-25 20:22] #1450 closed

[2017-12-25 20:22] #1414 closed

[2017-12-25 20:23] #1408 closed

[2017-12-25 20:23] #982 closed

[2017-12-25 20:23] #871 closed

[2017-12-25 20:23] #618 closed

[2018-01-01 21:08] Ivon544 opened #1469 ".Modpkg"
How do I make more than 1 script work in .modpkg?

[2018-01-17 18:45] jacksonkubin opened #1470 "clearInventorySlot and setInventorySlot not working"
I really don't know any way to remove items from inventory at this point that would work. I've tried addItemInventory negative and I've tried setting the carried item count but I really can't seem to edit the inventory in the most recent release. If anyone could help me or tell me if this is a bug that would be great.

[2018-02-09 07:36] JackMD opened #1472 "Add support for McPe v1.2.10.2"
On McPe/BE v1.2.10.2, BlockLauncher force closes. please update it. Thanks.

[2018-02-12 00:53] zhuowei commented on #1472
This is fixed in the latest version.

[2018-02-12 00:53] #1472 closed

[2018-02-12 02:09] JackMD commented on #1472
Thanks allot!😘❤️

[2018-02-25 13:52] #1430 closed

[2018-02-25 20:00] #1253 closed

[2018-03-02 09:06] #1453 closed

[2018-03-02 09:06] #1047 closed

[2018-03-06 15:27] paperbenni opened #1473 "Textures not working"
# [Here's the problematic modpkg](https://github.com/zhuowei/MCPELauncher/files/1785449/modbuild.zip)
Hello, I am working on a pretty big ModPE project and wanted to run a quick test. Blocklauncher immediatly crashed when importing the modpkg, no error message whatsoever, crashlog is empty. I added some try catch statements that returned a bunch of missing icons. I didn't change the name of the fi

[2018-03-06 15:58] paperbenni commented on #1469
You don't ;)

[2018-03-10 14:21] ultimategamer98 opened #1474 "After downloading designs and enabling..."
I keep trying to play Mc with the latest block launcher and Mc 1.2.11 but it just keeps closing.

[2018-03-10 14:22] ultimategamer98 commented on #1474
Desnoguns not designs

[2018-03-13 10:03] #1165 closed

[2018-03-13 10:04] #1164 closed

[2018-03-25 02:41] #1061 closed

[2018-03-25 02:41] #700 closed

[2018-03-28 10:38] kaeptmblaubaer1000 commented on #1418
If you really wanted to use Python, then I'd say you should use Skulpt (a Python interpreter written in JavaScript).
With the ModPE API you would even be able to implement some functionalities missing in Skulpt.

[2018-03-30 11:18] sslyd opened #1475 "modpe api document"
i want develop a mod with blocklauncher.But i can't find a document about modpe api.If you know ,please tell me. Thank you!

[2018-04-05 18:55] Naikuma opened #1476 "Support for Sony Experia E5 on Android 6.0."
Every time I try to use Blocklauncher i get this message "Unfortunately, Blocklauncher has stopped". Could you please fix this issue?

[2018-04-06 00:35] stolven11 opened #1477 "Support for Asus Zenpad 3s 10 with Android 7.0"
I have a android 7.0 Asus Zenpad 3s 10. When I click to open the app it says BlockLauncher has stopped.

[2018-04-06 01:35] zhuowei commented on #1476
Minecraft 1.2.13 is not supported yet; am planning to get an update out early next week.

[2018-04-20 21:06] juliancorrea commented on #1476
@zhuowei  Did you release the promissed update?

[2018-04-22 16:42] MoussaAdemGithub commented on #1475
1. [link](https://duggum.github.io/modpe-api/)
cons: old
3. [link](https://wiki.mineprogramming.org/index.php/ModPE)
cons: not in englih
2. [link](https://github.com/Connor4898/ModPE-Docs/wiki)
cons: not complete

[2018-04-24 21:19] AcidBarrle commented on #704
can you send the link to download substrate

[2018-04-24 21:38] zhuowei commented on #704
It looks like the Substrate developer deleted his Google Play account, but  http://www.cydiasubstrate.com/download/com.saurik.substrate.apk might still work.

[2018-04-25 12:25] Creeperslyr1 commented on #1467
Ok. Is there any way to fix this or possibly run BlockLauncher Pro? Maybe if Mr. Zhuowei could add support for Intel, BlockLauncher would be user more often. I know Actions are easier said than done too (sounds impatient). Intel Cores run lots of (cheap/ moderate) Mobile [Android] phones now-a-days; so maybe support for Intel would be a good idea.

[2018-04-25 12:32] Creeperslyr1 commented on #1467
My phone number is 1(731)300-1054 ; email is mchb2003@gmail.com
if any tips, contact please. I'm just average super nerd American teenager, wanting to develop Minecraft [BlocLauncher] scripts in C++. P.S., I'm 14. (know 3 programming languages (Binary {fluent}, C++{meh}, Python) and know Decimal alphabet for Binary.

[2018-04-25 12:34] Creeperslyr1 commented on #1467
Maybe add support for my device?

[2018-04-27 20:10] ultimategamer98 commented on #1467
Sorry I'm not Dev... :(

[2018-04-27 22:55] AcidBarrle commented on #704
its not working

[2018-05-15 11:27] Dreanei opened #1478 "14 step in Building (Readmi.md) error"
![image](https://user-images.githubusercontent.com/22614547/40053883-9bc72efe-584b-11e8-9125-9096073487ce.png)
![image](https://user-images.githubusercontent.com/22614547/40053909-b3654294-584b-11e8-8263-0c8bbc98ce2c.png)
Maybe it's my mistake. Would be nice if you explain it ☺

[2018-05-15 23:04] zhuowei commented on #1478
@Dreanei you may need an older Android SDK version that includes the `android` command. This repository hasn't been updated for years, and so still has the old Ant-based compilation tools, which the SDK that comes with Android Studio no longer supports.

[2018-05-19 07:05] #1478 closed

[2018-07-09 10:59] Hanprogramer commented on #1473
Me too. I think this is a bug from version 1.4.4 minecraft pe

[2018-07-17 08:07] StudioJR opened #1479 "ModPE JavaScript Question"
Is there a way to run in my one file main.js a function from modul.js?
I'm thinking of an API but therefore i must have a way to run my function from another file
Thanks for all answers

[2018-07-17 17:20] StudioJR commented on #1479
I know that blocklauncher doesn't set ModPE JavaScript Api like stuff but i need an idea and dont know who to ask

[2018-07-20 23:09] Hanprogramer opened #1480 "Any Custom textures immediately crashed the bl"
I am just trying to use custom textures for item but crashes the game as soon as i used ModPe.setItem then entered the world. maybe it has something to do with the libminecraftpe.so file?

P. S. Is this just happened to my os? Arm mali android 7.1

[2018-07-21 04:32] StudioJR opened #1481 "Block.defineBlock() not really working"
My Problem is that when I create a Block in the newes Blocklauncher 1.19 patching Mcpe 1.5 the block seems to be added - no errors - and the block appears in creative inventory with the correct Texture, but when i try to place it - it always places a block looking like a stonecutter
E.g..:
Block.defineBlock(3333,"Wooden Slab",["woodenslab",0])

[2018-07-21 12:47] zhuowei commented on #1480
@Hanprogramer Can you post a link to your code? Also, can you take a bug report (https://www.youtube.com/watch?v=YxQ3NTloD2c), upload the log to Google Drive, and paste the link here?

[2018-07-26 23:35] Hanprogramer commented on #1458
I got samsung a5 with knox but it works fine though.

[2018-07-27 14:16] Hanprogramer commented on #1480
Ummmm.... hello?

[2018-08-07 02:38] XsJIONG commented on #1481
The ID of a block is limited between 1 to 255, and most of them are already used, you should choose a proper ID via reading Minecraft ID Map

[2018-08-07 02:46] XsJIONG opened #1482 "How to generate header for MCPE？"
I'm using MC 1.1.0.55, and I cannot find the header files(e.g. Block.h, Item.h) for my version. I downloaded IDA in order to disassembly libminecraftpe.so, but I soon find that it's hard to guess the size of a struct and the meaning of a variable. I wish you to write a complete wiki about the way to generate header files for any version of MCPE!
P.S. Since I am a Chinese, there may be some grammar

[2018-08-07 02:48] zedman2000 commented on #1482
What are you trying to accomplish.  Unless something has changed since the last time I used this, you do not need the headers.  Just write the .JS file and continue on haing fun!

[2018-08-07 02:50] zedman2000 commented on #1481
@XsJIONG the newest versions can have block IDs that large as a "stacked" kind of thing.  There should not be an issue putting one in that high.
@StudioJR a good test would be to try overwriting some other block, as well as testing on another version, just to ensure that it is a problem with this version.  You might also try defining EVERY side of the block with a complete string.  It is possible

[2018-08-07 02:51] zedman2000 commented on #1479
there is a way, I don't remember it, but I am pretty sure I did it in my Super Door Operator mod.

[2018-08-07 02:53] zedman2000 commented on #1473
If your mod is too large for the memory / device you are running on, it will crash.  I have seen this many times in the past.  That is, the script would not run on one phone, but it would run on another without issue.

[2018-08-07 02:57] XsJIONG commented on #1482
To be honest, I'm going to create a MCPE Launcher myself, so it's hard for me to publish this launcher without any API. I really need the header files to create API, but I just can't find the way.
As you know, since I was a Chinese, I can't visit Google and some other specific websites, so I can hardly find some document about this. I need some help!

[2018-08-07 03:01] zedman2000 commented on #1482
I don't think anyone is going to write a wiki for you.  You'll have to figure it out.

[2018-08-07 05:45] StudioJR commented on #1479
Where can I find your Mod? - I would take a look at it is it on Github?

[2018-08-07 05:49] StudioJR commented on #1481
@zedman2000 I can say that I've testet it in an older version, cause it worked in Minecraft 1.2 the Minecraft Version I created it for

[2018-08-07 05:50] StudioJR commented on #1481
@XsJIONG I'm new to this Stuff can you explain me what a Minecraft ID Map is

[2018-08-07 05:54] StudioJR commented on #1481
Ok I've tried it again and added my Indicator Mod wich tells me every available Data for the Block so I've found out that the Block not obly looks like a stonecutter it is a stonecutter

[2018-08-07 06:02] StudioJR commented on #1481
![screenshot_20180807-080018](https://user-images.githubusercontent.com/41320307/43757108-fcfbfb9c-9a17-11e8-93d2-35c93a277748.jpg)
This Screenshot is taken on my phone - I've git my hands on the Pocket Decoration Mod its a little bit old and as far as I know - does this mod use ids from 1 - 255 and you see whats happend with them

[2018-08-07 06:06] StudioJR commented on #1481
@XsJIONG or do you mean an ID List

[2018-08-07 06:33] StudioJR commented on #329
I'd wish a Block.click(x,y,z);
Wich simply clicks on a Block at x y z

[2018-08-07 06:34] StudioJR commented on #329
And I don't know if it is already in the list
Entity.addItemInventory
+ A new Method to get The Entity this would be gteat for multyplayer mods

[2018-08-07 08:07] XsJIONG commented on #1481
Yes, there are some grammar mistakes in my comments since I don't speak English usually

[2018-08-07 09:11] StudioJR commented on #329
And I don't know if it is already in the list
Entity.addItemInventory
+ A new Method to get The Entity this would be gteat for multyplayer mods

[2018-08-07 12:38] paperbenni commented on #1473
@zedman2000 With 16x16 pngs I didn't think that memory could ever become an issue at all. I mean you need hundreds of them to even take up the memory a normal photo would. What does the game have to load in order to hit on memory that hard?!

[2018-08-07 16:29] zedman2000 commented on #1473
No idea.  I can only say that in the past, if I loaded too many texture packs, it would bust things.
That's why for my mods, I used specific types of texturing so I limit the amount of textures I loaded.
Used to work with @zhuowei with this way back when...Just saying try it with less textures and see what happens.

[2018-08-07 16:30] zedman2000 commented on #1479
they are posted on:
https://minecraftforum.net/forums/minecraft-pocket-edition/mcpe-mods-tools/2696679-super-something-something-2000-mods-by-ironhead65

[2018-08-07 21:49] slice commented on #329
3 year old issue.

`Block.click` is kinda vague, but added.
Do entities have inventories?

[2018-08-08 23:56] sero583 commented on #329
Is ModPE still alive?

[2018-08-09 16:23] slice commented on #329
@StudioJR Yes, this issue is for requests, not methods that exist already.

@sero583 I haven't touched it for a while (a few years).

[2018-08-10 22:45] sero583 commented on #329
@slice I don't think anyone has since a year or so, we can declare ModPE as dead most likely. The mods we could do on it were so nice, but now it's gone. Well, shotout to @zhuowei for making this possible.

[2018-09-13 15:51] chocolataulait7 commented on #329
thank you for this quick answer, could you explain me how to make armor in Modpe thank you.

[2018-09-19 19:05] chocolataulait7 commented on #329
Hello I would like to know if the API Modpe works with Minecraft pe 1.6 ???

[2018-09-27 21:02] sero583 commented on #329
@chocolataulait7 I honestly don't know, since it's been a long while I touched ModPE. When it was a thing, like 2014-2015. I barely can remember, it was something like Armor.defineArmor(parameters); . I think first parameter was texture, second name and third a int for it's protection level. You can dump the ModPE functions from BlockLauncher, just have a quick look into it and you could probably

[2018-09-30 08:33] chocolataulait7 commented on #329
Very well thank you I would also like to know if you know how to make inventory ??

[2018-10-13 02:04] #1186 closed

[2018-10-13 02:04] #1150 closed

[2018-10-25 03:08] cntlb commented on #1482
You will do a lot of work to build headers for any version of MCPE. 开始说人话!

1. 熟悉 c语言编写的库中接口和头文件中函数声明的关系.
[code]
看到这个应该知道这是一个用c编写的接口, 于是需要了解 extern "C"何时使用
2. 熟悉 c++语言编写的库中接口和头文件中函数声明的关系.
[code]
看到这个应该知道这是一个用c++编写的接口, 根据c++的特性 int add(int, int)属于一个叫做`Util`的类或者namespace
3. 熟悉GNU符号改编机制
  理论上2中的函数我们不能确定返回值(这个返回值是IDA判断出来的, 基本上可以用), 万一返回值是IDA内置库中不支持的呢(比如返回Item结构体),怎么办? 由GNU符号改编机制可以将导出符号(_ZN4Util3addEii

[2018-10-25 03:38] cntlb commented on #1462
@ddevoykirito from you exception log: BlockLauncher you are using is not compat the mcpe you installed, cause it's MainActivity loss method:`public boolean isMixerCreateInstalled() `.

[2018-11-18 08:04] chocolataulait7 commented on #329
hello, @zhuowei i would like to know how to use setGuiblock and if you are going to put back the custom armor thank you

[2018-11-18 08:04] chocolataulait7 commented on #329
Plz

[2018-12-13 19:36] chocolataulait7 commented on #329
Plz

[2018-12-14 08:07] #605 closed

[2018-12-14 08:08] #494 closed

[2018-12-23 20:18] #371 closed

[2019-01-09 17:36] NoobZandoYT opened #1483 "How i can make a suport for knox devices?"
I have a problem because my device has the "knox protection" and when installing the block launcher for version 0.15.10 which I did not want, how could I solve this problem? thanks, sorry if you have some errors, google translator ... I'm Brazilian.

[2019-01-31 13:01] Hanprogramer opened #1484 "ModPE request#2(2019)"
Sorry i didnt mean to duplicate or do something very similar. But i just want to have some cool stuff that we need for modpe. So here it comes:

1. Block.defineAdvancedModel(...)
//does more than single cube for a block

2. Post and pre initialization hook events for mods so we can easily manage mod libraries or stuff like that( btw libraries is also already available look at GrafityGun)

3. Compi

[2019-01-31 13:02] Hanprogramer commented on #1480
Edit: bug is fixed. Good to go now!

[2019-01-31 13:02] #1480 closed

[2019-01-31 13:03] Hanprogramer commented on #1473
This is working now, it is fixed. Pls close the issue

[2019-01-31 13:05] Hanprogramer commented on #1483
You can remove knox if you want. There's a lot of tutorials about it and i think it doesnt require root. But btw my device is A5 2017 and its working fine with knox

[2019-01-31 13:09] Hanprogramer commented on #1475
https://duggum.github.io/modpe-api/Block.html
#newest

[2019-02-08 19:22] chocolataulait7 commented on #329
Modpe is dead ? Please answer me.

[2019-02-08 19:30] zhuowei commented on #329
@chocolataulait7 I'm still working on it.

[2019-02-09 10:29] chocolataulait7 commented on #329
thanks for your reply, if you are still working on modpe please fix moddé armor thank you.

[2019-02-11 18:47] chocolataulait7 commented on #329
@zhuowei please tell me more

[2019-02-16 16:33] aXxG3TR3KTxX591 opened #1485 "block luncher Pro and free will not open it crash's a sec into it then crashs"
running mcpe 1.9.0 latest block luncher trued beta and normal Fran Samsung galaxy Tab a 2016 android 8.1 and it crash's 2GB ram 8 core processor multi touch screen 16 by 8 screen 1920x1540 screen

[2019-02-16 16:39] aXxG3TR3KTxX591 commented on #1485
a crash report a found not sure it's related
Time: 2018_05_16_09_45_16
Phone :SM-T350
Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.media.MediaPlayer.isPlaying()' on a null object reference
	at com.ijoysoft.videoplayer.activity.VideoPlayActivity.onClick(Unknown Source)
	at android.view.View.performClick(View.java:6308)
	at android.view.View$PerformCli

[2019-03-19 20:17] 7thShark opened #1486 "Server.getAllPlayers() Crashes, 1.23.2"
Blocklauncher Pro Beta 1.23.2
MCPE Version 1.10.0.7

Calling Server.getAllPlayers(); in any script while in a realm or server crashes the launcher.

If I remove all instances of the function from my script, it'll run fine.
![2019-3-19_16-12-55](https://user-images.githubusercontent.com/8009936/54638858-5aac4300-4a62-11e9-8286-e7b794ca00cf.PNG)

[2019-03-19 20:25] 7thShark opened #1487 "serverMessageReceiveHook() and counterpart returns nothing"
Blocklauncher Pro Beta 1.23.2
MCPE Version 1.10.0.7

- serverMessageReceiveHook(str);

- chatReceiveHook(str,sender);

These two functions used to work two MCPE updates ago, however are no longer working. I am using them correctly, as displayed in this footage from when they used to function correctly: [](https://www.youtube.com/watch?v=p_h1Yf-zKPM) https://www.youtube.com/watch?v=p_h1Yf-zKPM

The

[2019-03-19 20:46] 7thShark opened #1488 "Coordinate functions mixed"
Blocklauncher Pro Beta 1.23.2
MCPE Version 1.10.0.7

- MCPE X = Blocklauncher's Y
- MCPE Y = Blocklauncher's Z
- MCPE Z = Blocklauncher's X

![SmartSelect_20190319-164206_Gallery](https://user-images.githubusercontent.com/8009936/54640480-466a4500-4a66-11e9-81ed-d477b58b9c73.jpg)

[2019-03-20 06:06] zhuowei commented on #1488
@7thShark Thanks for the report! Should be fixed in the new beta.

[2019-03-20 22:07] #1466 closed

[2019-03-21 00:34] #1488 closed

[2019-03-21 00:34] #1486 closed

[2019-03-23 21:19] 7thShark opened #1489 "Some Enchantments Not Available"
The following enchantments seem to not apply when using the function `Player.enchant(); `
- Frost Walker
- Multishot
- Quick Charge
- Piercing

[2019-03-25 09:32] Hanprogramer opened #1490 "Custom mob skin doesnt work"
So every methods about custom skin on entity is not working
Like:
Entity.setMobSkin
Level.spawnMob

[2019-03-25 09:33] zhuowei commented on #1490
I'll look into it.

[2019-03-31 23:37] Hanprogramer commented on #1474
Desnoguns are currently havent been updated to latest version

[2019-04-14 08:09] chocolataulait7 opened #1491 "Custom armor does not work"
Hello, I just wanted to know if custom armor will soon work again.

[2019-05-13 02:32] DarkGD123 opened #1493 "BlockLauncher Is Not working on Android 8+"
Help please..cuz it doesn't work on my phone it keeps crashing when I open BlockLauncher and when I open a world it just crashed

[2019-05-13 02:33] zhuowei commented on #1493
@DarkGD123 Which version of Minecraft, which phone, which mods?

[2019-05-13 12:26] DarkGD123 commented on #1493
The latest version of Minecraft and the latest version of BlockLauncher but it keeps crashing cuz of lag so I downgraded to 1.5
of Minecraft PE and supported BlockLauncher of it but the mods are DesnoGuns and WAILA

[2019-05-13 18:18] zhuowei commented on #1493
@DarkGD123 The latest versions: so Minecraft 1.11 and BlockLauncher 1.25, I guess?

I'll take a look. Sorry about this, and thanks.

[2019-06-07 22:59] chocolataulait7 commented on #329
@zhuowei, plz update modpe to make it compatible with mcbe 1.11 (I'm sorry for m'y bad english)😀

[2019-06-07 23:00] zhuowei commented on #329
@chocolataulait7 It should work on 1.11 already? What happens when you run it?

[2019-06-07 23:00] chocolataulait7 commented on #329
For example the modded armor that does not work anymore in 1.11

[2019-06-07 23:01] zhuowei commented on #329
@chocolataulait7 modded armour hasn't worked since like 2017...

[2019-06-07 23:03] chocolataulait7 commented on #329
Okay, so it's not planned to fix the armor

[2019-06-07 23:07] chocolataulait7 commented on #329
@zhuowei Okay, so it's not planned to fix the armor

[2019-06-07 23:14] chocolataulait7 commented on #329
@zhuowei ???

[2019-06-10 20:13] Haha124 opened #1494 "Custom Textures not working."
The Blocklauncher doesn't load the custom textures of my .modpkg file and if I try to start Blocklauncher, an MissingTextureException appears. This problem doesn't appear if I use the textures, that already exist in MCPE and not those of my .modpkg file.
I hope you can help me @zhuowei!

[2019-06-11 10:30] Haha124 commented on #1494
Oh, found the problem. I forgot to include the texture pack.

[2019-06-11 10:30] #1494 closed

[2019-06-13 13:47] Haha124 opened #1495 "Defining custom blocks doesn't work."
Hey there!
I tried to define a new block using following code, but MCPELauncher just ignores it.
`Block.defineBlock(610, "Sender", ["sender", 0], 1, false, 0);`
The Block doesn't appear in the inventory in creative mode and if I try to set the Block using javascript, the program sets a stone cutter.
I hope you can help me @zhuowei!

[2019-06-13 14:30] zhuowei commented on #1495
@Haha124 I haven't had a chance to update the custom blocks support for newer versions of Minecraft, unfortunately, so it doesn't currently work.

I'm so sorry about this.

[2019-06-13 16:09] Haha124 commented on #1495
OK, i'm waiting for updates :)

[2019-07-20 19:26] Haha124 commented on #1495
Approximately, when do you release the update?

[2019-07-20 19:29] zhuowei commented on #1495
@Haha124 Planning to start today and release tomorrow or Monday - I haven't announced this because ... well I'm not very good at timelines...

I'm so sorry about this.

[2019-07-20 19:30] Haha124 commented on #1495
Ok, thank you for answering

[2019-07-23 16:18] Haha124 commented on #1495
Is it possible that you didn't fix the Block.defineBlock() method, or is there any mistake in my code?

[2019-07-24 22:52] Adumm5 commented on #329
Hello, is there any way at all to add items to the local player's inventory but also add NBT data to the item? I know it is possible to have items with NBT data in your inventory, like when you Ctrl + click on a command block it saves the command in it, and the lore says "(+DATA)", but would it be possible to add it to a function in the ModPE API? I would figure this gets asked a lot, but I haven'

[2019-07-27 18:21] arjay07 opened #1496 "Custom throwable"
How can you change the custom throwable entity texture?

[2019-07-27 18:33] arjay07 opened #1497 "Not Working Features"
Is there an updated list of features that is currently not working on BlockLauncher?

[2019-07-29 04:11] CtrlAltCuteness opened #1498 "MC 1.12 crash (logcat)"
I loaded a file dynamically into my script, but this also happens when I don't use a separate file as well as when I add it dynamically via. code while it is running.
This crash I am experiencing is about a second or two after the text shows via. `ModPE.showTipMessage()` (side note: your client now limits text entry field sizes which it used to not do ... separate bug?)

I have been monitoring if

[2019-07-29 04:40] zhuowei commented on #1498
That seems like a Vanilla Minecraft bug? I'm not touching anything in the graphics pipeline.

[2019-07-29 14:47] CtrlAltCuteness commented on #1498
I'll plop it on the JIRA

[2019-07-29 14:47] #1498 closed

[2019-07-30 21:28] Haha124 commented on #1497
No, I think there is currently not a list, but I think only the custom things like Textures, Blocks and Items don't work.

[2019-08-09 18:06] CtrlAltCuteness commented on #1489
Can you verify that you are in fact sending the proper enchantment ID. Use `print(str)` or `clientMessage(str)` to make sure you are not sending it `undefined`

[2019-08-09 18:17] CtrlAltCuteness opened #1499 "Data values of inventory items returning zero"
As shown in the screenshot, getting data values from items in the player's inventory is returning `0` instead of their expected value (`SS` is result from `Player.getSelectedSlotId()`).
Apparently, blocks in-world seem unaffected.

Arch: 32-bit ARM
Tested app & version: BlockLauncher Pro `1.26.1`
Minecraft version: `1.12.0.28` (release)
From store: Google Play

![Screenshot_20190809-110119](https:

[2019-09-01 21:46] saphira72 commented on #460
hey i have windows 10 and im running xeplayer android emulator i bought minecraft pe through google play and i downloaded block launcher and it says its no compatable that i have to get minecraft pe that uses arm processor what do i do help please

[2019-09-17 19:04] xMistt opened #1500 "Unfortunately the version of Minecraft PE on this device is not compatible with BlockLauncher."
Whenever I run BlockLauncher I get:

`Unfortunately the version of Minecraft PE on this device is not compatible with BlockLauncher. Please install Minecraft PE for ARM processors. (You probably didn't purchase Minecraft: if that is the case, buy a legitimate version of Minecraft, which will be compatible with ARM processors)`

I'm running the latest versions of Minecraft & Block Launcher from the

[2019-09-17 19:33] KenMizz commented on #1500
You just gonna wait for the new version support

[2019-09-17 19:44] xMistt commented on #1500
Oh, BlockLauncher isn't updated to 1.12.1.1 yet?

[2019-09-17 23:56] KenMizz commented on #1500
I don't think so, it does not work for me too, please check @zhuowei twitter for any update

[2019-09-18 15:31] #1500 closed

[2019-11-30 08:35] 2924223848 opened #1501 "hello，I miss 1.12.6，Save it"
launcher 1.12.6 will not work on android 7.1 or above,So I came into contact with Java,But I still couldn't do it.Please, save it.--cc

[2019-11-30 08:46] 2924223848 commented on #1501
java.lang.IllegalArgumentException: Unable to find native library

[2019-11-30 08:46] 2924223848 commented on #1501
java.lang.RuntimeException: Unable to start activity ComponentInfo{net.zhuoweizhang.mcpelauncher.pro/net.zhuoweizhang.mcpelauncher.pro.LauncherProActivity}: java.lang.IllegalArgumentException: Unable to find native library minecraftpe using classloader: dalvik.system.PathClassLoader[DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar", zip file "/data/app/net.zhuoweizhang.mcpe

[2019-11-30 10:48] 2924223848 commented on #1501
Unable to find native library minecraftpe1 using classloader:
 dalvik.system.PathClassLoader[DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar",
  zip file "/data/app/net.zhuoweizhang.mcpelauncher.pro-glmgrC7I09fcagwrSec_-A==/base.apk"],
  nativeLibraryDirectories=[/data/app/net.zhuoweizhang.mcpelauncher.pro-glmgrC7I09fcagwrSec_-A==/lib/arm, /system/fake-libs,
   /data/app/n

[2019-11-30 14:18] 2924223848 commented on #1501
从 Android 7.0 开始，系统将阻止应用动态链接非公开 NDK 库，这种库可能会导致您的应用崩溃。此行为变更旨在为跨平台更新和不同设备提供统一的应用体验。即使您的代码可能不会链接私有库，但您的应用中的第三方静态库可能会这么做。因此，所有开发者都应进行相应检查，确保他们的应用不会在运行 Android 7.0 的设备上崩溃。如果您的应用使用原生代码，则只能使用公开 NDK API。
动态库加载最终会调用这个函数，在这里会判断是否允许加载该动态库，最终就是logcat中显示的异常信息；

作者：NiceDream
链接：https://www.jianshu.com/p/90a9e4a5b47d
來源：简书

[2019-11-30 15:05] 2924223848 commented on #1501
hello，it was fixed.
现在，1.12.6启动器已经修复了

[2019-12-01 06:04] zhuowei commented on #1501
You're, I think, the 5th person to ask for an updated version of 1.12?
I'm still not sure why you're using such an old version of BlockLauncher, but I'll be happy to help.

The two changes I made to fix BlockLauncher on Android 7 and 8 are here: https://gist.github.com/zhuowei/c1cb4e37bfad09c3393da87699ff81e3

I never ported this back to older versions because I'm not sure if I still can build tho

[2019-12-01 18:50] 2924223848 commented on #1501
Thanks for your reply, thus it can be seen a idea .but my programming level is low, I think of a stupid method,
System.loadLibrary("minecraftpe");
Absolute path,the required lib files are placed in the lib directory of the launcher.
Sorry, I modified your installation package without authorization, but I did not transmit it.
thank your masterpiece!

[2019-12-01 18:50] #1501 closed

[2019-12-26 11:56] Davixk commented on #1500
you guys realize the last update is from over 5 years ago right??

[2019-12-26 14:44] KenMizz commented on #1500
@Davixk It's not open source anymore, but it's still updating

[2020-01-13 05:06] refrain-tech opened #1502 "I want to rebuild"
Hello, I'm Japanese Modder.
I wanna to rebuild BlockLauncher ver 1.12.6 for Android version 8 or later.
However, I don't know how to do.
Please help me...

[2020-01-19 02:51] #983 closed

[2020-02-13 10:04] Northern-OceanS commented on #1499
I have the same issue! And itemData in useItem() isn't work either.

[2020-04-14 03:13] Dobmod commented on #1502
Yes,we need that.But i am not able to help you😞.

[2020-04-14 14:10] refrain-tech commented on #1502
My friend said, failed to rebuild only edit AndroidManifest.xml.

[2020-04-29 19:58] #1474 closed

[2020-05-15 18:06] #1473 closed

[2020-05-26 08:51] DomNiteTerraira opened #1503 "Blocklauncher not working on older version on newer devices?"
So i have been playing minecraft with blocklauncher for a long time (version 0.14.0) and when i switched to a newer decive Samsung Galaxy S7 blocklauncher stopped working for me, any reasons why?

[2020-06-05 18:48] DomNiteTerraira commented on #1503
If you still code i would want to be able to use it on android 8 or so
I do make mods for it just never release it because its never finished but they are working as intended and are fun to play with

[2020-07-14 23:09] InfinitySwordofDiamond opened #1504 "Block Launcher"
So it seems like most mods using block launcher is very interesting, but I have an ios device and I want to play this on mcpe ios.  Can you please make an ios version of this?  Thxs if u can help :)

[2020-07-17 05:32] Founderroni commented on #1504
I don't think an IOS version is going to be made

[2020-07-18 02:07] InfinitySwordofDiamond commented on #1504
Well I only have an ios device and is there a way it can be converted to ios?

[2020-07-18 02:09] Founderroni commented on #1504
Don't think so

[2020-08-11 09:51] 0xff01WasTaken opened #1505 "How to make a Launcher"
Hi Zhuowei or whoever is reading is this, im trying to make my own version of block launcher and imported the repository to build a file under workflow BlockLauncher, but it always gives out an error, is there any fix to this and if not, how exactly did you make blocklauncher? what libraries and stuff did you use? any expertise / tips or tricks i should know about? Thanks !

[2020-08-31 17:19] lightyisreal opened #1506 "Can't build using GitHub Actions"
I'm trying to build BlockLauncher using GitHub Actions, but it seems it needs some secrets, how can I get them?

[2020-09-16 04:42] 0xff01WasTaken commented on #1506
This should help with what your looking for, please take a look and tell me if it works.

[Build_Blocklauncher_fD.txt](https://github.com/zhuowei/MCPELauncher/files/5229714/Build_Blocklauncher_fD.txt)

-Oreo

[2020-09-19 13:23] #727 closed

[2020-09-21 09:50] woujs commented on #1506
Eso se ve muy complejo, lo que no entiendo es que si hago todo los paso terminaría teniendo block launcher para minecraft 1.14.1.5, es lo mismo

[2020-09-22 17:43] #733 closed

[2020-09-30 21:04] ThePhenixOfficial commented on #16
Hey can you please update blocklauncher and the pro version because I spent money and I dont want it to go to waste on an app that never updated we are in mcpe 1.16 and I think the app only supports 1.11 and every time you go into the app it IMEADITALLY crashes and I would love to use this app again.please and thank you for your time.

[2020-10-03 04:28] TimScriptov commented on #16
https://github.com/TimScriptov/ModdedPE/releases/tag/1.16.40.02

Add Xbox Authorization
Fix App Theme
Support MC 1.16.40.02

[2020-10-13 11:52] 3245353564 commented on #1506
I get this error when i try to build it using the Github Actions, can someone help?

[2020-11-05 03:41] 0xff01WasTaken commented on #1506
you have to use Ghidra or IDA Pro to change its version to 1.16/1.17, you can find cracked version of IDA Pro which is preffered which work, IDA Pro is basically a dissassembly to dissassemble the apk you got from github actions

EDIT: use this link , it can help! http://artus9033.blogspot.com/

[2020-12-30 09:37] 1yodaman commented on #917
Seems to be a lot better now

[2021-03-31 17:15] typeofi opened #1507 "I have a greedy idea，Want source code，"
For a long time, I want to make BL open source. Write a similar launcher, but it has failed countless times. This time I finally ask you for the Pro version of the launcher source code, about mc0.14 bl1.12.6.  I hope my elder brother can help me, please reply me if you can’t. please

[2021-03-31 17:20] zhuowei commented on #1507
You can find partial source for older versions of BlockLauncher in the Git history: https://github.com/zhuowei/MCPELauncher/commits/master but it probably won't compile without changes since those versions were only intended to build on my computer.

[2021-03-31 17:24] typeofi commented on #1507
thank you reply.

[2021-04-06 10:36] DomNiteTerraira commented on #1503
No reply? I've still been waiting for an answer
Im trying to flash my phone to downgrade fron 8.0 to 6.0.1 just so i can use blocklauncher, if you could specify what android version it stopped working that would be great.

[2021-04-21 07:32] YujieLeong opened #1508 "sk"

[2021-04-30 20:29] Ecorous commented on #1503
Do you have the apk of minecraft 1.14.0? (or the version blocklauncher works on)

[2021-05-06 19:05] Andrea-Miele opened #1509 "An update?"
@zhuowei Is this project discontinued? Why is not updated to Minecraft 1.16?

[2021-05-08 07:15] PlexPt opened #1510 "Blocklauncher can modify the behavior of MCPE without root，why？"
Other tools that I know can do similar things must be rooted or even xposed

[2021-05-09 14:25] TripleCamera opened #1511 "How did you find out the method to unlock Mojang scripting?"
Hi, zhuowei. I am trying to unlock Mojang scripting in 1.16, and I have studied [your code](https://github.com/zhuowei/MCPELauncher/blob/master/jni/prepatch.cpp):
[code]
I wonder how you found out the way of unlocking Mojang scripting. How did you find out these 4 functions to hook? And why did you enable feature 9 and 7?
By the way, is there anything I should pay attention to in 1.16? Do I have t

[2021-05-16 05:09] ItzCrazyBuddy commented on #1509
I need the update

[2021-05-16 05:10] ItzCrazyBuddy opened #1512 "Is project is discontinued why here no more updates"
..

[2021-05-17 15:24] Andrea-Miele commented on #1511
@zhuowei Yes how did you unlock? @zhuowei

[2021-05-23 15:01] an0rmal1st commented on #1509
Yeah 1.16-1.17 updates

[2021-05-30 15:29] TripleCamera commented on #1511
@zhuowei [I have hooked a lot of functions](https://github.com/listerily/ModdedBE/commit/d9900efb02a8acd9ad8f1283d5d83cee2124d209), so that all these functions **always** return `true` now:
 - `AppPlatform::supportsScripting`
 - `AppPlatform_android::supportsScripting`
 - `ClientInstance::isScriptingEnabled`
 - `Experiments::Scripting`
 - `FeatureToggles::isEnabled`
 - `ScriptEngine::isScriptingEn

[2021-05-31 13:16] Andrea-Miele commented on #1511
@zhuowei I know you're not working on this project anymore, but at least give the necessary information for making a new similar project like Modded BE

[2021-06-06 05:34] TripleCamera commented on #1511
Maybe we shouldn't @ him so many times... He is probably busy these days.

[2021-06-06 05:36] zhuowei commented on #1511
I do keep an eye on these issues, and no, hooking those methods was enough on 1.13 and below, not sure what changed.

[2021-06-06 11:33] Andrea-Miele commented on #1511
Can you make blocklauncher open source for all the versions?

[2021-06-10 23:00] #443 closed

[2021-06-14 02:43] protectoryt commented on #1509
Yup

[2021-06-14 02:43] protectoryt commented on #1512
Kinda i also wana Blockluncher 1.17 version

[2021-06-14 06:44] Andrea-Miele commented on #1509
I'm closing this issue because @zhuowei is not working on blocklauncher anymore

[2021-06-14 06:44] #1509 closed, assigned to nobody

[2021-07-07 20:59] woujs opened #1513 "any progress on whether it can be used?"
anyone know if it can be used or what are the problems?

[2021-07-10 09:31] rac14 commented on #16
Yep

[2021-07-10 09:31] rac14 commented on #1513
Nope

[2021-07-10 09:32] rac14 commented on #1512
Yup

[2021-07-10 09:33] ProtectorYT364 commented on #1511
Woah he actually replied

[2021-08-12 01:13] pizzzaR opened #1514 "Update"
dont abandon amen
dQw4w9WgXcQ

[2021-08-28 13:50] rac14 commented on #1506
Can you gimi some more guide about this i wana update Blocklauncher to 1.17

[2021-09-20 23:11] #1162 closed

[2021-10-07 14:38] cdgames-tech opened #1515 "Rebuiding the modpe scripts and the engine for modding"
Hey i am is a modder but the engine is outdade and the modpe scripts are bad (for entity) but i'm is a developer i'm cam make a new engine from this source code ???

[2021-10-13 12:26] ultrahacker678 opened #1516 "Guardian error"
When guardian are give effect to the player, and his sound will played block launcher will crash.
Block launcher 1.16.2 for mcpe 1.1.5

[2021-11-23 12:47] DevGod6969 commented on #1515
yes you can make bec its pretty much discontinued and i don't think it will be comming back anytime soon

[2021-12-10 13:04] ghost opened #1517 "Please update BlockLauncher."
@zhuowei please update BlockLauncher.

[2021-12-20 09:58] #1454 closed

[2021-12-22 08:50] #1417 closed

[2021-12-23 17:02] ionaqwyxa commented on #1516
иди уроки делай маленький читер

[2022-03-18 13:30] 2225301875 opened #1518 "Open Source?I can update?"
不说别的了
如果可以
可以把blocklauncher源码发给我吗
我给你更新
2225301875@qq.com
谢谢

[2022-03-18 13:33] 2225301875 commented on #1510
because
some code is come from minecraft apk
such as dex/jar
if you read code you will find
so is come from apk's stronger

[2022-03-18 13:34] 2225301875 commented on #1510
just make a new application in blocklauncher
so and jar is come from application

[2022-03-18 14:32] weifeng233 commented on #1518
基本上全部的代码都已经放在了此仓库内，不过我觉得大部分代码都需要重写才能适配新版本mc（尤其在1.16.201之后

[2022-03-18 14:35] 2225301875 commented on #1518
你会dlopen和dlsym的调用吗我想通过so方法的偏移实现调用so的方法

[2022-03-18 14:39] weifeng233 commented on #1518
我不会:p，不过你可以来839574598

[2022-04-14 13:42] #119 closed

[2022-04-15 02:12] JRBros2346 commented on #1518
You can, but you cant use trademark

[2022-04-15 02:14] JRBros2346 commented on #1515
Could you please give a link for the apk you developed here? I want to try it

[2022-04-15 02:14] JRBros2346 commented on #1515
Could you please give a link for the apk you developed here? I want to try it

[2022-04-15 02:17] JRBros2346 commented on #1511
@TripleCamera if you developed the app please post the link here i can use it

[2022-04-15 02:23] JRBros2346 commented on #1506
If you made an app possible pls post the app link here

[2022-04-15 02:24] JRBros2346 commented on #1505
If u made a app possible pls post a link here

[2022-04-15 02:24] zhuowei commented on #1506
@JRBros2346 I'm not aware of any updated versions of BlockLauncher currently.

[2022-04-15 02:42] JRBros2346 commented on #1506
If someone made it possible, it maybe posted here

[2022-04-15 11:51] TripleCamera commented on #1511
Well, actually, Mojang has removed Scripting(aka **Additional Modding Capabilities**) in [Beta 1.18.20.21](https://feedback.minecraft.net/hc/en-us/articles/4423151445901). I guess there is no need to keep this issue open, so I will close it very soon.

I don't think it is polite to promote my app here. You can check out my profile for more info.

[2022-04-16 13:39] TripleCamera commented on #1511
I'm going to close it **now**. The issue list is so crowded.

[2022-04-16 13:39] #1511 closed, assigned to nobody

[2022-05-20 01:57] DevGod6969 commented on #1518
Mojang just removed scripting in the last mc

[2022-10-17 14:26] robtech21 opened #1519 "Compatibility?"
What's the oldest version of PE that will work with this launcher? Thanks.